$common-sprite: sprite-map("../img/icons/*.png", $spacing: 70px);

.control{
	height: 100%;
	min-height: 675px;
	box-sizing: border-box;
	width: 260px;
	padding: 25px 20px;
	background-color: #f1f1f5;
	float: right;
	
	&__title{
		text-align: center;
		margin-bottom: 29px;
	}
	&__header{
		color: #2e3641;
		font-family: $rob-light;
		font-size: 26px;
		margin: 0;
	}
}

.form{
	&__group-wrap{
		margin-bottom: 26px;
		@include clearfix;
	}
	&__watermark-input-disabled{
		position: absolute;
		background-color: rgba(241,241,245,0.64);
		width: 260px;
		height: 72px;
		top: 23%;
		left: 73%;
		z-index: 1;
	}
	&__title{
		font-size: 14px;
		font-family: $rob-med;
		color: #2e3641;
		margin-bottom: 8px;
		display: inline-block;
	}
	&__file-box{
		width: 220px;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
	}
	
	&__input-img{
		height: 27px;
		width: 220px;
		padding: 0;
		box-sizing: border-box;
		border-radius: 3px;
		outline: none;
		border: 1px solid #9eb2c0;
		color:#a4b7c4;
		font-size: 12px;
		font-family: $rob-light;
		padding-left: 10px;
        cursor: pointer;
	}
	&__box-btn{
		padding: 0;
		margin: 0;
		position: absolute;
		top: -1px;
		right: 0;
		display: block;
		height: 29px;
		width: 39px;
		box-sizing: border-box;
		border-radius: 0px 5px 5px 0;
		border: 1px solid #d6d5d3;
		background: url(/img/icons/download.png);
		background-repeat: no-repeat;
		cursor: pointer;
	}
	
	&__fileupload {
		border: none;
		clip: rect(0 0 0 0);
		height: 0px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 0px;
	}
}

.next-arrow{
    background: url("/img/next-arrow.png") no-repeat;
    display: block;
    position: absolute;
    height: 10px;
    background-size: 100%;
    width: 260px;
    right: 0;
	margin-top: 10px; //?????????????????????
}

.position{
	&__tessel{
		display: none;
		
		&-map{
			display: none;
		}
	}
	@include clearfix;
	margin-bottom: 32px;
	&-disabled{
		position: absolute;
		background-color: rgba(241,241,245,0.64);
		width: 260px;
		height: 203px;
		top: 36%;
		left: 73%;
	}
	&__btns{
		float: right;
		width: 50px;
		margin-right: -4px;
    	margin-top: -4px;
		
		&-location{
			@include get-sprite($common-sprite, waterposition);
			outline: none;
    		border: none;
			float: right;
			
			&.active{
				@include get-sprite($common-sprite, waterposition-active);
			}
            &:hover{
				@include get-sprite($common-sprite, waterposition-active);
			}
		}
		
		&-tessel{
			@include get-sprite($common-sprite, tessel);
			outline: none;
    		border: none;
			margin-right: 5px;
			float: left;
			
			&.active{
				@include get-sprite($common-sprite, tessel-active);
			}
			&:hover{
				@include get-sprite($common-sprite, tessel-active);
			}
		}
	}
	
	&__title{
		margin-bottom: 24px;
	}
	&__map{
		margin-bottom: 19px;
		display: inline-block;
		box-sizing: border-box;
		height: 102px;
		width: 105px;
		font-size: 0;
		letter-spacing: 0;
		word-spacing: 0;
		border-radius: 3px;
		overflow: hidden;
	}
	&__point{
		
		background-color: rgba(193,207,217,0.46);
		width: 34px;
		height: 34px;
		display: inline-block;
		border-color: #9eb2c0;
		border-style: solid;
		border-width: 1px 1px 1px 1px;
		box-sizing: border-box;
		cursor: pointer;
		&:hover{
			background-color: #f97e76;
			cursor: pointer;
		}
	  &.active{
		background-color: #f97e76;
		cursor: pointer;
	  }
	}
	
	&__custom{
		
		float: right;
		width: 80px;
		height: 100px;
		display: inline-block;
		
	}
	&__select{
		margin-bottom: 12px;
		vertical-align: middle;
	}
	&__axis{
		color: #2e3641;
		font-size: 16px;
		font-family: $rob-light;
		border-radius: 2px;
		color: #444a53;
		
	}
	&__move{
		width: 40px;
		font-size: 24px;
		line-height: 38px;
		text-align: center;
		border-radius: 4px;
		border: 1px solid #9eb2c0;
	}
	
	&__move-btn{
		position: relative;
		display: inline-block;
		
		&-wrap{
			position: relative;
			display: inline-block;
			width: 13px;
			top: 7px;
		}
		&-up{
			vertical-align: top;
			height: 17px;
    		width: 13px;
			@include get-sprite($common-sprite, up);
			cursor: pointer;
			
			&:hover{
				@include get-sprite($common-sprite, up-hover);
				cursor: pointer;
			}
		}
		&-down{
			vertical-align: bottom;
			@include get-sprite($common-sprite, down);
			cursor: pointer;
			
			&:hover{
				@include get-sprite($common-sprite, down-hover);
				cursor: pointer;
			}
		}
	}
}
.opacity{
	&-disabled{
		position: absolute;
		background-color: rgba(241,241,245,0.64);
		width: 260px;
		height: 123px;
		top: 67%;
		left: 73%;
		z-index: 1;	
	}
	&-wrap{
		margin-bottom: 60px;
	}
	&__title{
		margin-bottom: 15px;
	}
}

.form{
	&__btn-disabled{
		position: absolute;
		background-color: rgba(241,241,245,0.64);
		width: 260px;
		height: 97px;
		top: 86%;
		left: 73%;
		z-index: 1;
	}
	&__btn-wrap{
		height: 40px;
		width: 220px;
	}
	&__btn{
		width: 99px;
		height: 42px;
		border-radius: 3px;
		color: #f1f1f5;
		font-size: 18px;
		font-family: $rob-med;
		border: 0;
		outline: none;
		
		&-reset{
			background: #c1cfd9;
			float: left;
			margin-left: -11px;

			
			&:hover{
				background: linear-gradient(0deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
				border: 1px solid #a6b2bb;
			}
		}
		&-download{
			background: #f97e76;
			float: right;
			margin-right: -8px;
			&:hover{
				background: linear-gradient(0deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
				border: 1px solid #e3736c;
			}
		}
		
		
	}
}

#download-link{
  display: none;
}

@import "../_views/_tessel.scss";
