.footer{
	position: absolute;
    min-width: 990px;
    height: 70px;
    width: 100%;
    bottom: 0;
	@include clearfix;
}

.footer__text{
	margin: 0 auto;
	color: #ffffff;
	font-size: 12px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	text-align: center;
	margin-top: 40px;
}