.content-wrapper{
	min-height: 670px;
}
.work{
	float: left;
	width: 700px;
	max-width: 700px;
	background-color: rgba(46, 54, 65, 0.64);
	padding: 25px 23px;
	box-sizing: border-box;
	
	&__title{
		margin-bottom: 63px;
	}
	
	&__header{
		color: #ffffff;
    	font-size: 32px;
    	line-height: 27px;;
		font-family: $rob-light;
		margin: 0;
		background: url(img/next-arrow.png);
		
	}
	&__workplace{
		height: 534px;
		width: 651px;
		background: #ffffff;
		padding: 0 !important;
		box-sizing: border-box;
	}
	&__img-block{
		position: relative;
	}
	&__watermark-block{
		position: relative;
	}
	&__main-img{
		position: relative;
		width: auto;
		height: auto;
		background: url("../img/PixPerf.png");
	}
	&__watermark{
		position: relative;
	}
	
}