.lang
	.lang__ru
		a(class= "lang__ru_btn language" href="#" language='ru')
	.lang__en
		a(class= "lang__en_btn language" href="#" language='eng')
.share
	.share__like.share-box
		.share__like_btn.share-btn
	.share__fb.share-box
		a(class= "share__fb_btn share-btn" href="#" social="fb")
	.share__tw.share-box
		a(class= "share__tw_btn share-btn" href="#" social="tw")
	.share__vk.share-box
		a( class= "share__vk_btn share-btn" href="#" social="vk")