/* --------- adjustment --------- */

$container-width: 960px;
$footer-height: 70px;


html {
	width:100%;
	height: 100%;
	font-size: 100.01%;
}

body {
    -webkit-font-smoothing: antialiased;
	width:100%;
	min-width: 1200px;
	height:100% !important;

}

.container {
    margin: 0 auto;
    position: relative;
    /*padding: 0 15px;*/
    width: $container-width;
	min-height: 670px;
	@include clearfix;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
	background: url("../img/bg.png") no-repeat;
	background-size: 100% 100%;
	min-width: $container-width + 30px;

	
/*	&:after {
		display: block;
		position: relative;
		height: $footer-height;
	}*/
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none outside none;

	li {
		padding: 0;
		left: 0;
	}
}
p {
	padding: 0;
	margin: 0;
}

footer {
	position: relative;
	min-width: $container-width + 30;
	height: $footer-height;
}

input,textarea{
	outline: none;
}