.main-image,.watermark-image{
    max-width: 100%;
    max-height: 100%;
}

.watermark-image{
    position: relative;
}

.work__img-block{
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.work__watermark-block{
    position: relative;
    overflow: hidden;
}

.work__img-block {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

.work__watermark-wrapper{
    display: inline-block;
}